# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Design Patterns.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Styding\Programming\Training\Design Patterns\Design Patterns\.idea\.idea.Design Patterns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
